streamlit
groq
requests
beautifulsoup4
pypdf2
supabase
gtts
google-api-python-client
google-auth
google-auth-httplib2
python-docx
sentence-transformers
pytesseract
pdf2image
Pillow
odfpy
xlrd
pandas
openpyxl
cohere
plotly
